{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="entry entry-single" style="width:100% ">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Create a Post</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button style="background-color:#94c045;" type="submit">Submit Post</button>
                </div>
            </form>

        </div>

{% endblock %}